    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: black;
        transition: 2s;
   
      }
      p{
        position: absolute;
        color: #fff;
        font-size: 2.5em;
        font-weight: bold;
        color: lime;
      }
.spinner{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent ;
  
}
.spin{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg,rgb(0 0 0 /0%)30%,rgb(255 0 117)100%);
  border-radius: 50%;
  padding: 3px;
  animation: animate 0.7s linear 15;
  
}
#w{
  color: lime;
  position: absolute;
  top: 50px;
  font-size: 1.3em;
}
.load{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: black;
  /*animation: bg 3s linear 1;
  animation-delay: 7.7s;*/
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}